* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    max-width: 100vw;
    background-color: rgb(46, 150, 141);
}

.cards-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 30vh;
    background-color: lightcyan;
    border: 1px solid black;
    margin-top: 2vh;
}