* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    max-width: 100vw;
    background-color: rgb(46, 150, 141);
}

.cards-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 30vh;
    background-color: lightcyan;
    border: 1px solid black;
    margin-top: 2vh;
}

h1 {
    background-color: bisque;
    margin-bottom: 1vh;
    padding: 0.2em;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-around;
}

img {
    max-height: 20vh;
}

p {
    text-align: left;
    line-height: 1.6;
}

span {
    font-weight: 700;
}